<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376530416779-6u3m1va7aqomld85qqkhl2idii4oobcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376530416779-6u3m1va7aqomld85qqkhl2idii4oobcj</string>
	<key>API_KEY</key>
	<string>AIzaSyA9sDzS5f0cZekj2QzJU9rtpwO1eOfMMts</string>
	<key>GCM_SENDER_ID</key>
	<string>376530416779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.niserApp</string>
	<key>PROJECT_ID</key>
	<string>appnotifications-28b81</string>
	<key>STORAGE_BUCKET</key>
	<string>appnotifications-28b81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376530416779:ios:f156539346409c1355908e</string>
</dict>
</plist>